body {
    background-color: floralwhite;
  }
  
  img {
    width: 50%;
    display: block;
    margin: auto;
  }
  
  .bread-action {
    display: inline;
    position: relative;
    top: 10px;
    margin: 10px;
  }